extends layout

block content
  include navbar.pug
  br
  section.nombre
    div(class='contpremain')
      div(class='contPresentacion')
        h1(class='nombre') JOSEPH LEON
        p(class='area') Mobile Developer
      img(src="https://app3null.com/wp-content/uploads/2022/07/Mobile-App-Dev-02.png", alt="" class='imagen')

  section.about
        div(class='about')
          h2 Acerca de mí
          p Soy un desarrollador apasionado con experiencia en el desarrollo móvil con Flutter y la ciencia de datos con Python. Durante los últimos años, he estado trabajando en proyectos desafiantes que han ampliado mi conocimiento y habilidades en estas áreas. Mi experiencia en desarrollo móvil con Flutter me ha permitido construir aplicaciones móviles altamente interactivas y eficientes que cumplen con las necesidades de los clientes y usuarios. Además, mi experiencia en ciencia de datos con Python me ha permitido utilizar técnicas de análisis de datos para generar ideas valiosas y soluciones innovadoras en problemas complejos.
  br
  section.projects
    div(class='proyectos')
      div(class='proyecto1')
        img(src='https://winblog.s3.amazonaws.com/blog/wp-content/uploads/2022/08/Conoce-que-es-el-reconocimiento-facil-donde-se-utiliza.png', alt='Control de acceso con reconocimiento facial' class='imagen')
        h3 Proyecto 1: Control de acceso con reconocimiento facial
        p Para el proyecto de control de acceso con reconocimiento facial, se utilizó el lenguaje de programación Python y la biblioteca OpenCV para procesamiento de imágenes. En particular, se implementó el algoritmo de reconocimiento facial Fisherfaces para la identificación de personas en las imágenes capturadas por la cámara. Además, se utilizó una base de datos de rostros para entrenar el modelo de reconocimiento facial y lograr una mayor precisión en la identificación de individuos. El resultado final fue un sistema de control de acceso seguro y eficiente que utiliza tecnologías de vanguardia en reconocimiento de rostros.
      div(class='proyecto2')
        img(src='https://winblog.s3.amazonaws.com/blog/wp-content/uploads/2022/08/Conoce-que-es-el-reconocimiento-facil-donde-se-utiliza.png', alt='App para gestionar un robot autónomo con reconocimiento de objetos' class='imagen')
        h3 Proyecto 2: App para gestionar un robot autónomo con reconocimiento de objetos
        p En el proyecto de app para gestionar un robot autónomo con reconocimiento de objetos, se desarrolló una aplicación móvil utilizando el framework Flutter. Esta app fue diseñada para recibir datos en tiempo real de todos los sensores del robot, y controlar su movimiento y operación utilizando una interfaz de usuario intuitiva y fácil de usar. Para lograr una comunicación en tiempo real entre la app y el robot, se utilizó el servicio de Amazon Web Services (AWS) con el protocolo de mensajería MQTT. Esto permitió que los datos capturados por los sensores del robot fueran enviados de manera eficiente a la app, y que los comandos de control emitidos desde la app fueran entregados al robot en tiempo real.
  footer
    p Copyright © 2023, Joseph Leon

    



