extends layout

block content
  nav 
    ul(class = 'contenedor')
      a(class = 'logo' href='/') Joseph
      a(class = 'ruta1' href='/') Home
      a(class = 'ruta2' href='/habilidades') Habilidades
      a(class = 'ruta3' href='/contacto') Contacto