extends layout

block content
    include navbar.pug
    h1 Habilidades
    div(class='habilidades')
        .card
            .card-header Python
            .card-body
            p Soy un experto en Python, con experiencia en el desarrollo de aplicaciones de escritorio, aplicaciones web y análisis de datos. He trabajado con las bibliotecas NumPy, Pandas, Matplotlib, entre otras.
        .card
            .card-header Flutter
            .card-body
            p Soy un desarrollador de aplicaciones móviles con experiencia en Flutter. He desarrollado aplicaciones para Android e iOS, y he trabajado con funciones como el enrutamiento de la aplicación, el almacenamiento local y las llamadas a API.


        .card
            .card-header SQL
            .card-body
            p Soy un experto en SQL con experiencia en la creación de consultas complejas, procedimientos almacenados y desencadenadores. He trabajado con bases de datos relacionales como MySQL, PostgreSQL y SQL Server.
    footer
    p Copyright © 2023, Joseph Leon